/* addNewTask-media.css */

/* Laptops/tablets em modo paisagem */
@media (max-width: 1024px) {
  .createNewTask {
    width: 80%;
    padding: 30px;
  }

  .btnAddNewTask {
    width: 100%;
  }

  .btnCloseModalTaskCreated,
  .btnReturnMenu {
    width: 140px;
    font-size: 1rem;
  }

  .modalTaskCreated {
    width: 50%;
    left: 25%;
  }

  .areYouSure {
    font-size: 1.5rem;
  }

  .modalUserNotVerified {
    width: 70%;
    padding: 15px;
    font-size: 0.95rem;
  }
}

/* Tablets e celulares grandes */
@media (max-width: 768px) {
  .divCreateNewTask {
    height: auto;
  }

  .createNewTask {
    width: 90%;
    padding: 25px;
  }

  .divTaskInformations input,
  .divTaskInformations select {
    width: 100%;
    font-size: 1rem;
  }

  .btnAddNewTask {
    width: 100%;
    font-size: 1rem;
  }

  .modalTaskCreated {
    width: 80%;
    left: 10%;
    top: 35%;
  }

  .btnCloseModalTaskCreated,
  .btnReturnMenu {
    width: 150px;
    margin-right: 20px;
    font-size: 1rem;
  }

  .closeIcon {
    width: 25px;
    height: 25px;
  }

  .modalUserNotVerified {
    width: 70%;
    padding: 15px;
    font-size: 0.95rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .createNewTask {
    display: flex;
    padding: 20px;
  }

  .divTaskInformations label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .btnCloseModalTaskCreated,
  .btnReturnMenu {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .taskCreatedBtns {
    flex-direction: column;
    align-items: stretch;
  }

  .modalTaskCreated {
    width: 90%;
    left: 5%;
    top: 30%;
  }

  .areYouSure {
    font-size: 1.2rem;
    text-align: center;
  }

  .divModalUserNotVerified {
    height: auto;
    padding: 20px;
  }

  .modalUserNotVerified {
    width: 70%;
    padding: 15px;
    font-size: 0.95rem;
  }

  .btnResendEmail {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
  }
}
