.divProtectedRoute{
    width: 100vw;
    height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.protectedRoute{
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;

    background-color: white;
    color: black;

    border-radius: 15px;
}

.divOptionsProtectedRoute{
    display: flex;
    margin-top: 30px;
}

.divSignInProtectedRoute{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid black;
}

.loginLink{
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.loginLink:hover{
    color: #0872B3;
    transition: 1s;
}

.divCreateAccountProtectedRoute{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.createAccountLink{
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.createAccountLink:hover{
    color: #0872B3;
    transition: 1s;
}

