@media (max-width: 1024px) {
  .hamburgerBtnOpen {
    width: 100%;
    padding: 10px;

    background-color: #014068;
    border: none;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

    color: white;
    cursor: pointer;
  }

  .hamburgerBtnOpen:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transition: 0.5s;
  }

  .hamburgerBtnClosed {
    padding: 5px;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;

    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .hamburgerBtnClosed:hover {
    background-color: #014068;
    transition: 0.5s;
  }

  .menuOptions {
    width: 100vw;
    background-color: #014068;
    z-index: 999;
    overflow-y: hidden;
  }

  .menuTasksBlocked {
    display: none;
  }
}